{% extends "banco/base.html" %}

{% block title %}Agencias{% endblock %}

{% block content %}

  {% if agencias %}
    <table>
    <tr>
       <td>Banco</td>
       <td>Numero</td>
       <td>Nome</td>
       <td>Endereco</td>
       <td>Cidade</td>
       <td>Estado</td>
    </tr>
    {% for agencia in agencias %}
    <tr>
       <td>{{ agencia.banco.codigo }}</td>
       <td><a href="{{ agencia.url }}">{{ agencia.banco.codigo }}</a></td>
       <td>{{ agencia.nome }}</td>
       <td>{{ agencia.endereco.cep.rua }}, {{ agencia.endereco.numero }}
       {% if agencia.endereco.complemento != '' %}
         , {{ agencia.endereco.complemento }}
       {% endif %}
       </td>
       <td>{{ agencia.endereco.cep.cidade.nome }}</td>
       <td>{{ agencia.endereco.cep.cidade.estado.nome }}</td>
    </tr>
    {% endfor %}
    </table>
  {% else %}
    <strong>Nenhum agencia cadastrada.</strong>
  {% endif %}

{% endblock %}
