<!DOCTYPE html>

{% load static %}
{% load i18n %}

<html lang="pt-BR">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <head>
        <title>{% block title %}Template Title{% endblock %}</title>
        <link rel="stylesheet" href="{% static "banco/style.css" %}" />
        <script src="{% static "banco/jquery-2.1.1.js" %}"></script>
    </head>

    <body>
        <img src="{% static "banco/django_logo.gif" %}" alt="Django Logo" />

        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/banco/about/">About</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
