{% extends "banco/base.html" %}

{% block title %}Sistema{% endblock %}

{% block content %}

        <h1>Lista de Estados</h1>
        {% if estados %}
            <ul>
                {% for estado in estados %}
                <li>{{ estado.nome }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhum estado cadastrado.</strong>
        {% endif %}

        <h1>Lista de Cidades</h1>
        {% if cidades %}
            <ul>
                {% for cidade in cidades %}
                <li>{{ cidade.nome }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhuma cidade cadastrada.</strong>
        {% endif %}

        <h1>Lista de Clientes</h1>
        {% if clientes %}
            <ul>
                {% for cliente in clientes %}
                <li>{{ cliente.nome }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhum cliente cadastrado.</strong>
        {% endif %}

        <h1>Lista de Contas</h1>
        {% if contas %}
            <ul>
                {% for conta in contas %}
                <li>{{ conta.nome }}</li>,

                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhuma conta cadastrada.</strong>
        {% endif %}

        <h1>Lista de Conta-Clientes</h1>
        {% if conta_clientes %}
            <ul>
                {% for conta in conta_clientes %}
                <li>{{ conta.conta.numero }}</li>,

                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhuma conta cadastrada.</strong>
        {% endif %}

{% endblock %}
