{% extends "banco/base.html" %}

{% block title %}Contas-poupanca em uma cidade{% endblock %}

{% block content %}

        <h1>{{ nome_cidade }}</h1>

        {% if cidade %}
            {% if contas %}
            <table>
                <tr>
                    <td>Cidade</td>
                    <td>Banco</td>
                    <td>Agencia</td>
                    <td>Nome do Cliente</td>
                    <td>RG</td>
                    <td>Endereco</td>
                    <td>Data Atual</td>
                    <td>Saldo</td>
                </tr>

                {% for conta in contas %}
                    <tr>
                        <!-- Cidades -->
                        <td>
                            <ul>
                            {% for cliente in conta.clientes.all %}
                                <li>{{ cliente.endereco.cep.cidade }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <!-- Banco -->
                        <td>
                            <ul>
                            {% for agencia in conta.agencia.all %}
                                <li>{{ agencia.banco.nome }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <!-- Agencia -->
                        <td>
                            <ul>
                            {% for agencia in conta.agencia.all %}
                                <li>{{ agencia.nome }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <!-- Nomes -->
                        <td>
                            <ul>
                            {% for cliente in conta.clientes.all %}
                                <li>{{ cliente.nome }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <!-- RGs -->
                        <td>
                            <ul>
                            {% for cliente in conta.clientes.all %}
                                <li>{{ cliente.rg }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <!-- Enderecos -->
                        <td>
                            <ul>
                            {% for cliente in conta.clientes.all %}
                                <li>
                                    {{ cliente.endereco.cep.rua }}, {{ cliente.endereco.numero }}
                                    {% if cliente.endereco.complemento != '' %}
                                        , {{ cliente.endereco.complemento }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        <!-- Data Atual -->
                        <td>{% now "jS F Y H:i" %}</td>
                        <!-- Saldo -->
                        <td>{{ conta.saldo }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <strong>Nenhuma conta-poupanca cadastrada na cidade.</strong>
            {% endif %}
        {% else %}
            A cidade {{ category_name }} nao existe!
        {% endif %}

{% endblock %}
