{% extends "banco/base.html" %}

{% block title %}Clientes inativos{% endblock %}

{% block content %}

        <h1>Clientes Inativos</h1>

        {% if clientes_inativos %}
            <table>
                <tr>
                    <td>Banco</td>
                    <td>Agencia</td>
                    <td>RG</td>
                    <td>Nome</td>
                    <td>Cidade</td>
                    <td>Data de Remocao</td>
                    <td>Tipo de Conta</td>
                </tr>
                {% for cliente in clientes_inativos %}
                   <tr>
                       <td> </td>
                       <td> </a></td>
                       <td>{{ cliente.rg }} </td>
                       <td>{{ cliente.nome }} {{cliente.sobrenome}}</td>
                       <td>{{ cliente.endereco.cep.cidade.nome }}</td>
                       <td> </td>
                       <td> </td>
                   </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>Nenhuma cliente inativo no banco.</strong>
        {% endif %}

{% endblock %}
