{% extends "banco/base.html" %}

{% block title %}Bancos{% endblock %}

{% block content %}

        <h1>Lista de Bancos</h1>

        {% if bancos %}
            <table>
                <tr> <td>Codigo</td> <td>Nome</td> </tr>
                {% for banco in bancos %}
                <tr> <td><a href="{{ banco.url }}">{{ banco.codigo }}</a></td> <td>{{ banco.nome }}</td> </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>Nenhum banco cadastrado.</strong>
        {% endif %}

{% endblock %}
