{% extends "banco/base.html" %}

{% block title %}Enderecos{% endblock %}

{% block content %}

        <h1> Lista de Enderecos</h1>

        {% if enderecos %}
            <ul>
                {% for endereco in enderecos %}
                <!--<li>{{ endereco.cidade }}</li>-->
                <li><a href="{{ endereco.get_absolute_url }}">{{ endereco }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhum endereco cadastrado.</strong>
        {% endif %}

{% endblock %}

