{% extends "banco/base.html" %}

{% block title %}Contas{% endblock %}

{% block content %}

        <h1> Lista de Contas</h1>

        {% if contas %}
            <ul>
                {% for conta in contas %}
                <!--<li>{{ contas.numero }}</li>-->
                <li><a href="{{ conta.url }}">{{ conta }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhuma conta cadastrada.</strong>
        {% endif %}

{% endblock %}

