{% extends "banco/base.html" %}

{% block title %}Estados{% endblock %}

{% block content %}

        <h1>Adicionar estado</h1>

        <form id="estado_form" method="post" action="/banco/estados/adicionar_estado/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Criar estado" />
        </form>

{% endblock %}
