{% extends "banco/base.html" %}

{% block title %}Estados{% endblock %}

{% block content %}

        <h1>{{ nome_estado }}</h1>

        {% if estado %}
            {% if cidades %}
            <ul>
                {% for cidade in cidades %}
                <li><a href="{{ cidade.url }}">{{ cidade.nome }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>Nenhuma cidade cadastrada para o estado.</strong>
            {% endif %}
        {% else %}
            O estado {{ category_name }} nao existe!
        {% endif %}

{% endblock %}
