{% extends "banco/base.html" %}

{% block title %}Estados{% endblock %}

{% block content %}

        <h1>Lista de Estados</h1>

        {% if estados %}
            <ul>
                {% for estado in estados %}
                <!--<li>{{ estado.nome }}</li>-->
                <li><a href="{{ estado.url }}">{{ estado.nome }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhum estado cadastrado.</strong>
        {% endif %}

{% endblock %}
