{% extends "banco/base.html" %}

{% block title %}Contas-Cliente{% endblock %}

{% block content %}
        <h1> Lista de Contas-Cliente</h1>

        {% if contaClientes %}
            <ul>
                {% for contaCliente in contaClientes %}
                <!--<li>{{ contas.numero }}</li>-->
                <li><a href="{{ contaCliente.url }}">{{ contaCliente.conta }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhuma conta cadastrada.</strong>
        {% endif %}
{% endblock %}
