{% extends "banco/base.html" %}

{% block title %}Cidades{% endblock %}

{% block content %}

        <h1> Lista de Cidades </h1>

        {% if cidades %}
            <ul>
                {% for estado in cidades %}
                <!--<li>{{ cidade.nome }}</li>-->
                <li><a href="{{ estado.url }}">{{ estado.nome }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhuma cidade cadastrada.</strong>
        {% endif %}

{% endblock %}
