{% extends "banco/base.html" %}

{% block title %}Conta - Deposito{% endblock %}

{% block content %}

    <h1> Deposito </h1>

    <form id="deposito_form" action="/banco/contas/transacao/deposito/" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <!--{{ form.as_p }}-->
        <!--{{ form.as_ul }}-->
        <input type="submit" name="submit" value="Realizar deposito">
    </form>

{% endblock %}
