{% extends "banco/base.html" %}

{% block title %}Saldo{% endblock %}

{% block content %}

    <h1> Saldo </h1>

    <form id="saldo_form" action="/banco/contas/transacao/saldo/" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <!--{{ form.as_p }}-->
        <!--{{ form.as_ul }}-->
        <input type="submit" name="submit" value="Verificar saldo">
    </form>

{% endblock %}
