{% extends "banco/base.html" %}

{% block title %}Conta - Saque{% endblock %}

{% block content %}

    <h1> Saque </h1>

    <form id="saque_form" action="/banco/contas/transacao/saque/" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <!--{{ form.as_p }}-->
        <!--{{ form.as_ul }}-->
        <input type="submit" name="submit" value="Realizar saque">
    </form>

{% endblock %}
