{% extends "banco/base.html" %}

{% block title %}Conta - Transferencia{% endblock %}

{% block content %}

    <h1> Recibo </h1>

    {% if transacao %}
        <ul>
            <li> Destino
            <ul>
              <li>RG: {{transacao.destino.cliente.rg}}</li>
              <li>Conta: {{transacao.destino.conta.numero}}</li>
              <li>Agencia:
                  <ul>
                      {% for agencia in transacao.destino.conta.agencia.all %}
                          <li>{{ agencia.numero }}</li>
                      {% endfor %}
                  </ul>
              <li>Banco:
                  <ul>
                      {% for agencia in transacao.destino.conta.agencia.all %}
                          <li>{{ agencia.banco.codigo }}</li>
                      {% endfor %}
                  </ul>
              <li>Data: {{transacao.data}}</li>
              <li>Valor: {{transacao.valor}}</li>
            </ul>
            </li>
            <li> Origem
            <ul>
              <li>RG: {{transacao.origem.cliente.rg}}</li>
              <li>Conta: {{transacao.origem.conta.numero}}</li>
              <li>Agencia:
                  <ul>
                      {% for agencia in transacao.origem.conta.agencia.all %}
                          <li>{{ agencia.numero }}</li>
                      {% endfor %}
                  </ul>
              <li>Banco:
                  <ul>
                      {% for agencia in transacao.origem.conta.agencia.all %}
                          <li>{{ agencia.banco.codigo }}</li>
                      {% endfor %}
                  </ul>
              <li>Data: {{transacao.data}}</li>
              <li>Valor: {{transacao.valor_origem}}</li>
            </ul>
            </li>
        </ul>
    {% else %}
        <strong>Transferencia nao pode ser realizada.</strong>
    {% endif %}

{% endblock %}

