{% extends "banco/base.html" %}

{% block title %}Conta - Saldo{% endblock %}

{% block content %}

    <h1> Recibo </h1>

    {% if conta %}
        <ul>
            <li>Clientes:
                <ul>
                    {% for cliente in conta.clientes.all %}
                        <li>{{ cliente.nome }} -- {{ cliente.rg }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>Conta: {{conta.conta.numero}}</li>
            <li>Tipo: {{conta.conta.tipo}}</li>
            <li>Agencia:
                <ul>
                    {% for agencia in conta.agencia.all %}
                        <li>{{ agencia.numero }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>Banco:
                <ul>
                    {% for agencia in conta.agencia.all %}
                        <li>{{ agencia.banco.codigo }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>Data: {{conta.data}}</li>
            <li>Saldo: {{conta.valor}}</li>
        </ul>
    {% else %}
        <strong>Consulta de saldo nao pode realizada.</strong>
    {% endif %}

{% endblock %}

