{% extends "banco/base.html" %}

{% block title %}Conta - Transferencia{% endblock %}

{% block content %}

    <h1> Transferencia </h1>

    <form id="transferencia_form" action="/banco/contas/transacao/transferencia/" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <!--{{ form.as_p }}-->
        <!--{{ form.as_ul }}-->
        <input type="submit" name="submit" value="Realizar transferencia">
    </form>

{% endblock %}

