{% extends "banco/base.html" %}

{% block title %}Conta - Saque{% endblock %}

{% block content %}

    <h1> Recibo </h1>

    {% if transacao %}
        <ul>
            <li>RG: {{transacao.destino.cliente.rg}}</li>
            <li>Conta: {{transacao.destino.conta.numero}}</li>
            <li>Agencia:
                <ul>
                    {% for agencia in transacao.destino.conta.agencia.all %}
                        <li>{{ agencia.numero }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>Banco:
                <ul>
                    {% for agencia in transacao.destino.conta.agencia.all %}
                        <li>{{ agencia.banco.codigo }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>Data: {{transacao.data}}</li>
            <li>Valor: {{transacao.valor}}</li>
        </ul>
    {% else %}
        <strong>Saque nao pode ser realizado.</strong>
    {% endif %}

{% endblock %}

