{% extends "banco/base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}

        <h1> Lista de Clientes</h1>

        {% if clientes %}
            <ul>
                {% for cliente in clientes %}
                <!--<li>{{ cliente.nome }}</li>-->
                <li><a href="{{ cliente.url }}">{{ cliente.nome }} {{ cliente.sobrenome }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Nenhum cliente cadastrado.</strong>
        {% endif %}

{% endblock %}
